// Custom LESS
//===========

@text: #979797;
@blue: #56B6D3;
@black: rgba(34,34,34,1);
@grey: #4d4d4d;
@red: #F3266F;

@font-face {
    font-family: 'titleText';
    src: url('/font/ithornat-webfont.eot');
    src: url('/font/ithornat-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/ithornat-webfont.woff') format('woff'),
         url('/font/ithornat-webfont.ttf') format('truetype'),
         url('/font/ithornat-webfont.svg#ithornetregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(/img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

hr {
	border-color: #4d4d4d;
}

.titleText {
    font-family: titleText;
    font-size: 90px;
    small {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 30px;
        color: lighten(@black, 10%);
    }
}

.tt {
	cursor: pointer;
}

.progress {
	background: #4d4d4d;
}

.navbar-inverse {
	background: rgba(34,34,34,0.9);
}

#food {
    max-height: 400px;
    overflow-y: scroll;
    ul {
        li {
            color: @blue;
            font-size: 16px;
        }
    }
}

.blue {
    color: @blue !important;
}

.red {
    color: @red !important;
}

.hold-on {
    padding-top: 27px;
    margin-right: 10px;
    color: @text;
    opacity: 0;
}

.food-input {
    margin-bottom: 10px;
}

.btn:focus {
    outline: none
}

#errors {
    color: @red;
    font-size: 14px;
    padding-top: 5px;
}

.price {
    color: @blue;
    small {
        font-size: 10px;
        color: @text;
    }
}

.alpaca {
    width: 100%;
    height: auto;
    position: relative;
    top: 20px
}

.well {
    background: black;
    border-color: @black
}

.li-previousView {
	margin-right: 10px;
}

.btn.btn-primary {
	background: @blue;
	color: @black!important;
	a {
		color: @black;
		text-decoration: none;
	}
}

.btn.btn-primary:hover{
	background: darken(@blue, 10%);
}

.wizard-contents {
	background: rgba(34,34,34,0.9);
	border-radius: 5px;
	padding: 20px;
	h3, h4, p, label {
		color: @text;
	}
}

.form-control {
	background: rgba(34,34,34,1);
	border: none;
	color: @text;
}

.bwizard {
    position:relative
}
.bwizard .well {
    margin:3px 0
}
.bwizard-steps {
    margin:0;
    padding:0;
    display:inline-block;
    background:transparent
}
.bwizard-steps li {
    display:inline-block;
    position:relative;
    margin: 5px 5px 5px 0;
    line-height:18px;
    list-style:none;
    padding:12px 17px 10px 30px;
    background:@grey;
    zoom:1;
    *display:inline;
    *padding-left:17px
}
.bwizard-steps li:first-child {
    -moz-border-radius:4px 0 0 4px;
    -webkit-border-radius:4px 0 0 4px;
    border-radius:4px 0 0 4px;
    padding-left:12px
}
.bwizard-steps li:first-child:before {
    border:none
}
.bwizard-steps li:last-child {
    -moz-border-radius:0 4px 4px 0;
    -webkit-border-radius:0 4px 4px 0;
    border-radius:0 4px 4px 0;
    margin-right:0
}
.bwizard-steps li:last-child:after {
    border:none
}
.bwizard-steps li:before {
    position:absolute;
    left:0;
    top:0;
    height:0;
    width:0;
    border-bottom:20px inset transparent;
    border-left:20px solid rgba(34,34,34,0.9);
    border-top:20px inset transparent;
    content:""
}
.bwizard-steps li:after {
    position:absolute;
    right:-20px;
    top:0;
    height:0;
    width:0;
    border-bottom:20px inset transparent;
    border-left:20px solid @grey;
    border-top:20px inset transparent;
    content:"";
    z-index:1
}
.bwizard-steps .label {
    margin:0 5px 0 0;
    padding:2px 5px 2px;
    position:relative;
    top:-1px;
    color: @text;
    background: @black;
}
.bwizard-steps .active {
    color:#fff;
    background:@blue;
    .label {
    	color: white;
    }
}
.bwizard-steps .active:after {
    border-left-color:@blue;
}
.bwizard-steps a {
    color:@text;
}
.bwizard-steps .active a {
    color:@black;
    cursor:default
}
.bwizard-steps a:hover {
    text-decoration:none
}
.bwizard-steps.clickable li:not(.active) {
    cursor:pointer
}
.bwizard-steps.clickable li:hover:not(.active) {
    background:#ccc
}
.bwizard-steps.clickable li:hover:not(.active) a {
    color:#FFF
}
.bwizard-steps.clickable li:hover:not(.active):after {
    border-left-color:#ccc
}
@media (max-width: 480px) {
    .bwizard-steps li {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
        border-radius: 4px!important;
        padding-left: 12px;
    }
    .bwizard-steps li:after, .bwizard-steps li:before {
        border:none
    }
}
