<div class="row">
    <div class="col-xs-12">
        <h1 class="blue text-left">Congregate!  Vibrate!  Resonate!  Venerate!  Celebrate!</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h3>Thanks <%=first_name %>!</h3>
        <p style="font-size:14px">From Al the Alchemical Alpaca: we are so grateful you’re joining us, it wouldn’t be the same without you!  You will receive an email receipt for your payment shortly.<p>

		<p style="font-size:14px">Please remember this is an alcohol-free and leave no trace gathering! We are guests of our gracious host to use his space for a collective experience. Please be mindful and responsible for your own space (always clean up after yourself) as well as the collective space. No garbage! No mess!</p>

		<p style="font-size:14px">Also, come as early as you can! From previous experiences we have noticed that early arrivals can be invaluable. When in doubt, be fashionably early.</p>
    </div>
    <div class="col-xs-12 col-sm-6">
    	<div class="well">
    		<img class="alpaca" src="/img/alpaca.png" alt="">
    	</div>
    </div>
</div>
