<div class="wizard-view">

    <hr>

    <h3>Basic Information</h3>

    <hr>

    <div class="row">

        <div class="col-xs-6">
            <form role="form">
                <div class="form-group">
                    <input type="text" class="form-control" id="first-name" placeholder="Your First Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="last-name" placeholder="Your Last Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                </div>
            </form>
        </div>

        <div class="col-xs-6">
            <p>Tell us who you are!  Your confirmation will be emailed to the address you provide.</p>
        </div>
    </div>

    <form>

    </form>

</div>
