<div class="wizard-view">

    <hr>

    <h3>Nominate:</h3>

    <hr>

    <div class="row">

        <div class="col-xs-12 col-sm-6">
            <form role="form">
                <div class="form-group">
                    <input type="text" class="form-control" id="first-name" placeholder="Your First Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="last-name" placeholder="Your Last Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                </div>
            </form>
        </div>

        <div class="col-xs-12 col-sm-6">
            <p>Your confirmation will be sent to the email you provide. Your information will not be distributed to any corporate entities, government agencies, multidimensional beings, or sentient robots.</p>
        </div>
    </div>

    <form>

    </form>

</div>
