<div class="wizard-view">

    <hr>

    <h3>Food List</h3>

    <hr>

    <div class="row">

        <form role="form">

            <div class="col-xs-12 col-sm-3">

            </div>

            <div class="col-xs-12 col-sm-3">

            </div>

        </form>

        <div class="col-xs-12 col-sm-6">

            <p>We are all asked to bring some food to be prepared for the group. On the left is a list of the food current ticket holders are bringing.  Try to choose food that isn't on the list yet. This way we don't end up with a bunch of kale and eggs.</p>

        </div>
    </div>

    <form>

    </form>

</div>
