<div class="wizard-view">

    <hr>

    <h3>Donate:</h3>

    <hr>

    <div class="row">

        <div class="col-xs-12 col-sm-8">

             <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label for="visa" style="white-space: nowrap;">Visa</label>
                         <input type="radio" name="cards" id="visa" class="cards">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label for="visa" style="white-space: nowrap;">MasterCard</label>
                         <input type="radio" name="cards" id="mastercard">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label for="type" style="white-space: nowrap;">AMEX</label>
                         <input type="radio" name="cards" id="amex">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label for="type" style="white-space: nowrap;">Discover</label>
                         <input type="radio" name="cards" id="discover">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <label for="first-name" style="white-space: nowrap;">Cardholder's Name</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="first_name" placeholder="First Name">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="first-name" style="visibility:hidden">.</label>
                        <input type="text" class="form-control" id="last_name" placeholder="Last Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="cc" style="white-space: nowrap;">Card Number</label>
                        <input type="text" class="form-control" id="cc-1" placeholder="0000">
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="cc" style="visibility:hidden">.</label>
                        <input type="text" class="form-control" id="cc-2" placeholder="0000">
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="cc" style="visibility:hidden">.</label>
                        <input type="text" class="form-control" id="cc-3" placeholder="0000">
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="cc" style="visibility:hidden">.</label>
                        <input type="text" class="form-control" id="cc-4" placeholder="0000">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="exp" style="white-space: nowrap;">Expiration Date</label>
                        <input type="text" class="form-control" id="exp-month" placeholder="MM">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="exp" style="visibility:hidden">.</label>
                        <input type="text" class="form-control" id="exp-year" placeholder="YYYY">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="cvv" style="white-space: nowrap;">CVV</label>
                        <input type="text" class="form-control" id="cvv" placeholder="CVV">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="100" data-message="$55 - Lodging </br> $25 - Tea </br> $10 - Covers Musicians' Gas </br> $10 - Production (altar, decor, lodging for musicians and organizers*) </br></br> *Bruce, our host, generously donates 4 spots, your contribution helps cover the 7-8 other people who make the event and music happen." data-title="$100 Contribution Details" class="tt">$100.00</label>
                        <input type="radio" name="payTier" id="100" class="payTier">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="110" data-message="$10 - “Thank You Gift” to the musicians </br> $55 - Lodging </br> $25 - Tea </br> $10 - Covers Musicians' Gas </br> $10 - Production (altar, decor, lodging for musicians and organizers*) </br></br> *Bruce, our host, generously donates 4 spots, your contribution helps cover the 7-8 other people who make the event and music happen.." data-title="$110 Contribution Details" class="tt">$110.00</label>
                        <input type="radio" name="payTier" id="110" class="payTier">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="130" data-message="$30 - “Thank You Gift” to the musicians </br> $55 - Lodging </br> $25 - Tea </br> $10 - Covers Musicians' Gas </br> $10 - Production (altar, decor, lodging for musicians and organizers*) </br></br> *Bruce, our host, generously donates 4 spots, your contribution helps cover the 7-8 other people who make the event and music happen.." data-title="$130 Contribution Details" class="tt">$130.00</label>
                        <input type="radio" name="payTier" id="130" class="payTier">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="150" data-message="$50 - “Thank You Gift” to the musicians </br> $55 - Lodging </br> $25 - Tea </br> $10 - Covers Musicians' Gas </br> $10 - Production (altar, decor, lodging for musicians and organizers*) </br></br> *Bruce, our host, generously donates 4 spots, your contribution helps cover the 7-8 other people who make the event and music happen.." data-title="$150 Contribution Details" class="tt">$150.00 </br> If this is your first time joining us in Greenville, please consider contributing at this level.</label>
                        <input type="radio" name="payTier" id="150" class="payTier">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button id="donate" class="btn btn-primary pull-right" style="margin-top:20px;"><i class="fa fa-heart"></i> Donate</button>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-4">

            <p>Almost done! Donations start at $100.10 (the $0.10 is for Paypal's processing fee) to cover basics for each attendee; any contribution beyond that is a 'thank you gift' to our musicians. Please note that there is no exchange for donating more than $100 and that the handful of rooms will still be assigned on a first-come-first-served basis.</br></br>
            Your credit card information is secured by an SSL (Secure Socket Layer) connection to Paypal, where your donation will be processed. All your sensitive information is encrypeted when it leaves your browser :)</p>

            <hr>

            <h4 class="payTier-title"></h4>
            <p class="payTier-description"></p>

        </div>
    </div>

</div>
