<div class="wizard-view">

    <hr>

    <h3>Donate:</h3>

    <hr>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-sm-offset-3">

             <p>Almost done! Donations are $77.50 (the $2.50 is for Paypal's processing fee). Your transaction is secured by an SSL (Secure Socket Layer) connection to Paypal, where your donation will be processed. All your sensitive information is encrypeted when it travels to and from your computer screen :)</p>

            <h1 class="pull-left price">$75.00
                <small>plus $2.50 paypal fee</small>
            </h1>
            <button id="donate" class="btn btn-primary pull-right" style="margin-top:20px;"><i class="fa fa-heart"></i> Donate with PayPal</button>

        </div>

    </div>

</div>
