<div class="wizard-view">

    <hr>

    <h3>Rooms</h3>

    <hr>

    <div class="row">

        <form role="form">

            <div class="col-xs-12 col-sm-3">

            </div>

            <div class="col-xs-12 col-sm-3">

            </div>

        </form>

        <div class="col-xs-12 col-sm-6">

            <p>Beds are available on a first come first server basis.  If there are beds available when you get here and you would rather sleep in the temple, please check the box to opt out.  We are reserving 12 of the 24 beds for organizers and musicians.  The other 12 are up for grabs.  This does not guarentee you a room.  We will assign rooms as we see fit on the day of, but we promise warmth and comfort inside the temple!  If you want extra comfort, bring your own blankets and pillows.</p>

        </div>
    </div>

    <form>

    </form>

</div>
